@import "../../../../styles/colors.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .input {
    width: 220px;
    border-radius: 20px;
  }

  section {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;

    padding: 15px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-color-300;
    }

    .fieldsContainer {
      display: flex;
      gap: 12px;
    }

    .headerProductsList {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .listProducts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        list-style-type: none;
        background: $gray-color-400;
        border: 1px solid $gray-color-300;
        box-shadow: 1px 3px 4px rgba(0 0 0 / 0.35);

        border-radius: 20px;
        padding: 0.9rem 1.2rem;

        display: flex;
        align-items: center;
        gap: 20px;

        span {
          margin-right: auto;
        }

        .inputProduct {
          background: $gray-color-500;
          width: 120px;
          border-radius: 20px;
        }

        .removeProductIcon {
          color: $red-color-500;

          transition: filter 0.2s;
          cursor: pointer;

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  .fieldsContainer {
    flex-direction: column;

    .input {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .listProducts {
    li {
      flex-direction: column !important;
      align-items: stretch !important;
      gap: 16px !important;
      padding: 0.7rem 0.7rem !important;

      .productMainRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        min-width: 0;
      }
      .productFieldsRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 58px;
        margin-top: 2px;
        width: 100%;
      }
      .inputProduct {
        min-width: 60px !important;
        max-width: 80px !important;
        font-size: 14px;
      }
      .removeProductIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-size: 22px !important;
        min-width: 32px;
        height: 32px;
      }
    }
  }
}
